{% extends 'base.html.twig' %}

{% block title %}Empresa index{% endblock %}

{% block body %}

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <div  class="text-center mt-5 col-md-6 offset-md-3">

        <h1 class="h3 mb-3 font-weight-normal">Business Finder</h1>
        <br>

        <form method="post" action="{{path('empresa_find' )}}">
                <div class="active-cyan mb-4 align-content-md-between" >
                <input required="true" class="form-control" type="text" name="search" style="text-align: center" placeholder="What are you looking for?" aria-label="Search">

            </div>

            <div class="text-center">
                <button type="submit"  style="padding: 10px 30px;" class="btn btn-primary btn-large">Search</button>
            </div>
        </form>

    </div>

    <button onclick=location.href="{{ path('app_login') }}"  type="button" style="padding: 5px 5px" class="btn btn-dark pull-right m-sm-3" >
        Admin
     <i class='fas fa-user'></i></button>




{% endblock %}
