{% extends 'base.html.twig' %}

{% block title %}Empresa list{% endblock %}




{% block body %}


    <div class="container">
        <table id="mytable" class="table">
            <script src='https://kit.fontawesome.com/a076d05399.js'></script>

            <tbody>

                {% for empresa in empresas %}
                    <tr>

                        <td>{{ empresa.titulo }}</td>
                        <td>

                            <a href="{{ path('empresa_detail', {'id': empresa.id}) }}">
                                <i style='font-size:24px' class='fas'>&#xf101;</i>
                            </a>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>



{% endblock %}
