{% extends 'base.html.twig' %}

{% block title %}New Empresa{% endblock %}

{% block body %}
    <h2>Business Finder Admin</h2>
    <br>
    <h3>Add Business</h3>
    <div class="col-xs-6 col-md-4" >
        {{ include('empresa/_form.html.twig') }}
    </div>

{% endblock %}
