{% extends 'base.html.twig' %}

{% block title %}Results Empresa{% endblock %}

{% block body %}
    <h2 >Business Finder</h2>
    <br>
    <h2>Results </h2>


    <div class="col-xs-4 col-md-4" >
        {{ include('empresa/list.html.twig') }}

        <button type="button" class="btn btn-primary" onclick=location.href="{{ path('empresa_index') }}">Back </button>


    </div>

{% endblock %}
